body {
  text-align: center;
    font-size: 18px;
}

h3 {
  padding: 0px 0px 25px 0px
}

.streaming {
    margin-bottom: 40px;
}

.title-bar {
    background-color: #cc66ff;
    font-weight: bold;
    border: 2px solid black;
    font-size: 18px;
}

.title-bar div {
    line-height: 1.5em;
}

.invalid {
    width: 450px;
    margin: 50px auto;
}

img {
    width: 100px;
    height: 100px;
    padding: 15px;
}

.row {
    border-bottom: 1px solid black;
}

p {
    font-size: 18px;
}